body {
  font-family: "Open Sans";
}
.header {
  background-color: #29d9c7;
  height: 90px;
  margin: 0px;
  color: #fcfcfc;
}
.headerLogo {
  font-size: 36px;
  float: left;
  padding: 20px;
}
.headerList li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}
.main {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}
.copy-container h2 {
  font-size: 60px;
}
.copy-container span {
  color: rgb(241, 9, 9);
}
.footer {
  background-color: #365b73;
  height: 200px;
  color: #fcfcfc;
  padding: 40px;
}
.footerLogo {
  font-size: 36px;
  float: left;
}
.footerList {
  float: right;
}
.footerList li {
  list-style: none;
  padding-bottom: 20px;
}
